In [11]:
import os
import pandas as pd
import numpy as np

In [312]:
os.getcwd()

'/Users/caseyh/Desktop/footyfootyfooty/data_wrangling'

In [447]:
elo_table = pd.DataFrame({})

In [448]:
# start season
for team in output['team'].unique():
    new_row = pd.DataFrame({'team':team, 'round':0,'team_elo':1000}, index=[0])
    elo_table = pd.concat([new_row,elo_table]).reset_index(drop=True)

In [449]:
df = pd.read_csv('/Users/caseyh/Desktop/footyfootyfooty/round_results/2023_round_results.csv')

In [450]:
# change round values to ints
df['round'] = df['round'].str[1:].astype(int)

In [451]:
# add in bye rounds:
for team in df['Home'].unique():
    for r in df['round'].unique():
        if r not in list(df[df['Home'] == team]['round']) and r not in list(df[df['Away'] == team]['round']):
            new_row = pd.DataFrame({'Home':team, 'round':r,'Away':'BYE'}, index=[0])
            df = pd.concat([new_row,df]).reset_index(drop=True)
df = df.sort_values('round').reset_index(drop=True)

In [452]:
df['actual_outcome'] = df['Home Score']/(df['Home Score']+df['Away Score'])

In [453]:
def get_new_rating(team_elo, k, actual_outcome, expected_outcome):
    return team_elo + k * (actual_outcome - expected_outcome)
def get_expected_outcome(team_elo, opp_elo, hga, s):
    return 1/(1+10**((opp_elo-team_elo-hga)/s))

In [454]:
df.head(10)

,Home,round,Away,Date,Venue,Crowd,year,Home Score,Away Score,actual_outcome
0,POR,1,BRL,Sat 18 Mar 4:05pm,Adelaide Oval,34255.0,2023.0,126.0,72.0,0.636364
1,GWS,1,ADE,Sun 19 Mar 1:10pm,GIANTS Stadium,8169.0,2023.0,106.0,90.0,0.540816
2,NTH,1,WCE,Sat 18 Mar 1:45pm,Marvel Stadium,21274.0,2023.0,87.0,82.0,0.514793
3,GEE,1,COL,Fri 17 Mar 7:40pm,MCG,86595.0,2023.0,103.0,125.0,0.451754
4,RCH,1,CAR,Thu 16 Mar 7:20pm,MCG,88084.0,2023.0,58.0,58.0,0.500000
5,HAW,1,ESS,Sun 19 Mar 3:20pm,MCG,68691.0,2023.0,65.0,124.0,0.343915
6,STK,1,FRE,Sun 19 Mar 4:40pm,Marvel Stadium,23429.0,2023.0,67.0,52.0,0.563025
7,GCS,1,SYD,Sat 18 Mar 7:00pm,Heritage Bank Stadium,13648.0,2023.0,61.0,110.0,0.356725
8,MEL,1,WBD,Sat 18 Mar 7:25pm,MCG,48103.0,2023.0,115.0,65.0,0.638889
9,SYD,2,HAW,Sun 26 Mar 1:10pm,SCG,37052.0,2023.0,118.0,37.0,0.761290

In [493]:
for r in df['round'].unique():
    if r in elo_table['round'].unique():
        elo_table = elo_table.drop(elo_table[elo_table['round']==r].index)
    for team in elo_table['team'].unique():
        if df[(df['Home'] == team)&(df['round']==r)]['Away'].shape[0]==0:
            continue
        
        if df[(df['Home'] == team)&(df['round']==r)]['Away'].values[0] == 'BYE':
            new_row = pd.DataFrame({'team':team,'round':r,'team_elo':elo_table[(elo_table['team']==team)&(elo_table['round']==r-1)]['team_elo'].values[0]}, index=[0])
            elo_table = pd.concat([elo_table, new_row])
            continue
        opp = df[(df['Home'] == team)&(df['round']==r)]['Away'].values[0]
        
        team_elo = elo_table[(elo_table['team'] == team)&(elo_table['round'] == r-1)]['team_elo'].values[0]
        opp_elo = elo_table[(elo_table['team'] == opp)&(elo_table['round'] == r-1)]['team_elo'].values[0]
        
        actual_outcome = df[(df['Home'] == team)&(df['round']==r)]['actual_outcome'].values[0]
        
        expected_outcome = get_expected_outcome(team_elo, opp_elo, 50, 10000)
        
        n_team_elo = team_elo + 100 * (actual_outcome - expected_outcome)
        n_opp_elo = opp_elo - 100 * (actual_outcome - expected_outcome)
        
        new_rows = pd.DataFrame({'team':[team, opp],'round':[r,r],'team_elo':[n_team_elo,n_opp_elo]}, index=[0,1])
        elo_table = pd.concat([elo_table, new_rows])
        
        df.loc[(df['Home']==team)&(df['round']==r),'expected_outcome'] = expected_outcome
        
elo_table = elo_table.sort_values(['round', 'team_elo'], ascending=[True,False]).reset_index(drop=True)

In [494]:
elo_table[elo_table['team']=='COL']

    team  round     team_elo
8    COL      0  1000.000000
23   COL      1  1005.112381
39   COL      2  1022.711167
56   COL      3  1028.592555
76   COL      4  1020.332144
94   COL      5  1022.426591
111  COL      6  1026.066519
129  COL      7  1026.756811
147  COL      8  1037.975020
163  COL      9  1055.933480
181  COL     10  1065.768168
198  COL     11  1074.542379
216  COL     12  1091.276594
234  COL     13  1089.941584
252  COL     14  1089.941584
270  COL     15  1089.950302
288  COL     16  1113.896702
306  COL     17  1117.262216
330  COL     18          NaN
343  COL     19          NaN
366  COL     20          NaN
381  COL     21          NaN
404  COL     22          NaN
424  COL     23          NaN
445  COL     24          NaN

In [495]:
df.head(20)

,Home,round,Away,Date,Venue,Crowd,year,Home Score,Away Score,actual_outcome,expected_outcome
0,POR,1,BRL,Sat 18 Mar 4:05pm,Adelaide Oval,34255.0,2023.0,126.0,72.0,0.636364,0.502878
1,GWS,1,ADE,Sun 19 Mar 1:10pm,GIANTS Stadium,8169.0,2023.0,106.0,90.0,0.540816,0.502878
2,NTH,1,WCE,Sat 18 Mar 1:45pm,Marvel Stadium,21274.0,2023.0,87.0,82.0,0.514793,0.502878
3,GEE,1,COL,Fri 17 Mar 7:40pm,MCG,86595.0,2023.0,103.0,125.0,0.451754,0.502878
4,RCH,1,CAR,Thu 16 Mar 7:20pm,MCG,88084.0,2023.0,58.0,58.0,0.500000,0.502878
5,HAW,1,ESS,Sun 19 Mar 3:20pm,MCG,68691.0,2023.0,65.0,124.0,0.343915,0.502878
6,STK,1,FRE,Sun 19 Mar 4:40pm,Marvel Stadium,23429.0,2023.0,67.0,52.0,0.563025,0.502878
7,GCS,1,SYD,Sat 18 Mar 7:00pm,Heritage Bank Stadium,13648.0,2023.0,61.0,110.0,0.356725,0.502878
8,MEL,1,WBD,Sat 18 Mar 7:25pm,MCG,48103.0,2023.0,115.0,65.0,0.638889,0.502878
9,SYD,2,HAW,Sun 26 Mar 1:10pm,SCG,37052.0,2023.0,118.0,37.0,0.761290,0.504634
10,WBD,2,STK,Sat 25 Mar 7:25pm,Marvel Stadium,33294.0,2023.0,41.0,92.0,0.308271,0.501749
11,ESS,2,GCS,Sun 26 Mar 3:20pm,Marvel Stadium,32915.0,2023.0,108.0,80.0,0.574468,0.504634
12,ADE,2,RCH,Sat 25 Mar 4:05pm,Adelaide Oval,38492.0,2023.0,76.0,108.0,0.413043,0.502676
13,COL,2,POR,Sat 25 Mar 1:45pm,MCG,60744.0,2023.0,135.0,64.0,0.678392,0.502404
14,BRL,2,MEL,Fri 24 Mar 6:55pm,Gabba,30047.0,2023.0,93.0,82.0,0.531429,0.501327
15,CAR,2,GEE,Thu 23 Mar 7:20pm,MCG,55861.0,2023.0,90.0,82.0,0.523256,0.503189
16,WCE,2,GWS,Sun 26 Mar 3:20pm,Optus Stadium,44649.0,2023.0,100.0,81.0,0.552486,0.502591
17,FRE,2,NTH,Sat 25 Mar 4:30pm,Optus Stadium,40487.0,2023.0,72.0,73.0,0.496552,0.502463
18,WBD,3,BRL,Thu 30 Mar 7:20pm,Marvel Stadium,23665.0,2023.0,67.0,53.0,0.558333,0.501577
19,COL,3,RCH,Fri 31 Mar 7:50pm,MCG,85241.0,2023.0,63.0,49.0,0.562500,0.503686

In [496]:
elo_table[elo_table['round']==17]

    team  round     team_elo
306  COL     17  1117.262216
307  BRL     17  1109.085909
308  MEL     17  1082.737460
309  POR     17  1067.360155
310  GEE     17  1059.216714
311  ADE     17  1044.630171
312  STK     17  1030.447727
313  SYD     17  1026.226495
314  ESS     17  1024.364886
315  WBD     17  1017.284763
316  CAR     17  1015.536514
317  GWS     17   999.141362
318  RCH     17   987.579284
319  GCS     17   985.268513
320  FRE     17   960.725989
321  HAW     17   884.824093
322  NTH     17   850.925429
323  WCE     17   737.382318

In [498]:
import seaborn as sns

In [500]:
sns.lineplot(x="round", y="team_elo",
             hue="team",
             data=elo_table)

ValueError: Length of list vectors must match length of `data` when both are used, but `data` has length 450 and the vector passed to `x` has length 2.