In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/Users/caseyh/Desktop/footyfootyfooty/data_wrangling'

In [3]:
path = '/Users/caseyh/Desktop/footyfootyfooty/round_results/2023_round_results.csv'

In [4]:
round_data = pd.read_csv(path)

In [5]:
round_data.head()

,Date,Venue,Crowd,round,year,Home,Away,Home Score,Away Score
0,Thu 16 Mar 7:20pm,MCG,88084,R1,2023,RCH,CAR,58,58
1,Fri 17 Mar 7:40pm,MCG,86595,R1,2023,GEE,COL,103,125
2,Sat 18 Mar 1:45pm,Marvel Stadium,21274,R1,2023,NTH,WCE,87,82
3,Sat 18 Mar 4:05pm,Adelaide Oval,34255,R1,2023,POR,BRL,126,72
4,Sat 18 Mar 7:00pm,Heritage Bank Stadium,13648,R1,2023,GCS,SYD,61,110

In [87]:
teams = ['RCH', 'GEE', 'NTH', 'POR', 'GCS', 'MEL', 'GWS', 'HAW', 'STK',
       'CAR', 'BRL', 'COL', 'ADE', 'FRE', 'WBD', 'SYD', 'ESS', 'WCE']

In [96]:
output = pd.DataFrame({})
for r in round_data['round'].unique():
    tmp1 = round_data[round_data['round'] == r]
    for i,j in [('Home','Away'), ('Away', 'Home')]:
        tmp = pd.DataFrame({})

        tmp['team'] = tmp1[f'{i}']
        tmp['result'] = np.select([tmp1[f'{i} Score'] > tmp1[f'{j} Score'], tmp1[f'{i} Score'] < tmp1[f'{j} Score']], [4, 0], 2)
        tmp['pf'] = tmp1[f'{i} Score']
        tmp['pa'] = tmp1[f'{j} Score']
        tmp['round'] = r
        tmp['game played'] = 1
        
        
        
            
        output = pd.concat([output, tmp])
        
    output.reset_index(drop = True)

In [108]:
'RCH' in teams

True

In [120]:

for r in output['round'].unique():
    tmp = output[output['round']==r]
    for team in teams:
        if team not in tmp['team'].unique():
            print(team,r)
            new_row = pd.DataFrame({'team':team, 'result':0,'pf':0,'pa':0,'round':r,'game played':0}, index=[0])
            print(new_row)
            output = pd.concat([new_row, output])

STK R12
  team  result  pf  pa round  game played
0  STK       0   0   0   R12            0
BRL R12
  team  result  pf  pa round  game played
0  BRL       0   0   0   R12            0
FRE R12
  team  result  pf  pa round  game played
0  FRE       0   0   0   R12            0
SYD R12
  team  result  pf  pa round  game played
0  SYD       0   0   0   R12            0
GEE R13
  team  result  pf  pa round  game played
0  GEE       0   0   0   R13            0
GCS R13
  team  result  pf  pa round  game played
0  GCS       0   0   0   R13            0
MEL R14
  team  result  pf  pa round  game played
0  MEL       0   0   0   R14            0
HAW R14
  team  result  pf  pa round  game played
0  HAW       0   0   0   R14            0
COL R14
  team  result  pf  pa round  game played
0  COL       0   0   0   R14            0
ADE R14
  team  result  pf  pa round  game played
0  ADE       0   0   0   R14            0
ESS R14
  team  result  pf  pa round  game played
0  ESS       0   0   0   R14            0
WCE R14
  team  result  pf  pa round  game played
0  WCE       0   0   0   R14            0
RCH R15
  team  result  pf  pa round  game played
0  RCH       0   0   0   R15            0
NTH R15
  team  result  pf  pa round  game played
0  NTH       0   0   0   R15            0
POR R15
  team  result  pf  pa round  game played
0  POR       0   0   0   R15            0
GWS R15
  team  result  pf  pa round  game played
0  GWS       0   0   0   R15            0
CAR R15
  team  result  pf  pa round  game played
0  CAR       0   0   0   R15            0
WBD R15
  team  result  pf  pa round  game played
0  WBD       0   0   0   R15            0

In [119]:
output[output['round']=='R12']

    team  result   pf   pa round  game played
99   MEL       4   61   44   R12            1
100  POR       4  151   96   R12            1
101  WCE       0   57  120   R12            1
102  GCS       4  112   87   R12            1
103  WBD       0   75   97   R12            1
104  GWS       0  104  110   R12            1
105  ESS       4  105   99   R12            1
99   CAR       0   44   61   R12            1
100  HAW       0   96  151   R12            1
101  COL       4  120   57   R12            1
102  ADE       0   87  112   R12            1
103  GEE       4   97   75   R12            1
104  RCH       4  110  104   R12            1
105  NTH       0   99  105   R12            1

In [77]:
rounds = output['round'].unique()
rounds

array(['R1', 'R2', 'R3', 'R4', 'R5', 'R6', 'R7', 'R8', 'R9', 'R10', 'R11',
       'R12', 'R13', 'R14', 'R15'], dtype=object)

In [133]:
output.sort_values('round')

   team  result   pf   pa round  game played
76  HAW       0   49  103    R9            1
80  GWS       0   55  120    R9            1
79  ADE       4  121   69    R9            1
80  COL       4  120   55    R9            1
72  GCS       4  113   43    R9            1
..  ...     ...  ...  ...   ...          ...
2   NTH       4   87   82    R1            1
1   GEE       0  103  125    R1            1
0   RCH       2   58   58    R1            1
8   FRE       0   52   67    R1            1
3   BRL       0   72  126    R1            1

[270 rows x 6 columns]

In [132]:
output.sort_values('round',ascending=False).reset_index(drop=True).groupby('team').cumsum()

     result    pf    pa  game played
0         0    49   103            1
1         0    55   120            1
2         4   121    69            1
3         4   120    55            1
4         4   113    43            1
..      ...   ...   ...          ...
265       8  1002  1439           14
266      28  1338  1172           14
267      26  1131  1104           14
268      28  1144  1176           14
269      40  1335  1102           14

[270 rows x 4 columns]

In [130]:
round_ladder = output.reset_index(drop=True).groupby('team').cumsum()
round_ladder['team'] = output['team']
round_ladder['round'] = output['round']
round_ladder['per'] = round_ladder['pf']/round_ladder['pa']

/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/1512402305.py:2: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  round_ladder['team'] = output['team']

ValueError: cannot reindex on an axis with duplicate labels

In [128]:
round_ladder[round_ladder['round']=='R12']

     result    pf    pa  game played team round       per
0         0     0     0            0  SYD   R12       NaN
0         0     0     0            0  FRE   R12       NaN
0         0     0     0            0  BRL   R12       NaN
0         0     0     0            0  STK   R12       NaN
99       32  1171   873           12  MEL   R12  1.341352
100      40  1139   980           12  POR   R12  1.162245
101       4   744  1374           12  WCE   R12  0.541485
102      24   991   991           12  GCS   R12  1.000000
103      28   932   899           12  WBD   R12  1.036707
104      16   988  1123           12  GWS   R12  0.879786
105      28  1083  1005           12  ESS   R12  1.077612
99       18   888   934           12  CAR   R12  0.950749
100      12   866  1155           12  HAW   R12  0.749784
101      44  1132   818           12  COL   R12  1.383863
102      24  1064  1011           12  ADE   R12  1.052423
103      24  1188   999           12  GEE   R12  1.189189
104      18   956   964           12  RCH   R12  0.991701
105       8   843  1231           12  NTH   R12  0.684809

In [65]:
output.groupby('team').cumsum()

     result    pf    pa  game played
0         2    58    58            1
1         0   103   125            1
2         4    87    82            1
3         4   126    72            1
4         0    61   110            1
..      ...   ...   ...          ...
121      40  1335  1102           14
122       4   830  1753           14
123      32  1230  1150           14
124      28  1318  1145           14
125      16   998  1329           14

[252 rows x 4 columns]

In [61]:
output.groupby(['team']).cumsum()

     result    pf    pa  game played
0         2    58    58            1
1         0   103   125            1
2         4    87    82            1
3         4   126    72            1
4         0    61   110            1
..      ...   ...   ...          ...
121      40  1335  1102           14
122       4   830  1753           14
123      32  1230  1150           14
124      28  1318  1145           14
125      16   998  1329           14

[252 rows x 4 columns]

In [28]:
round_ladder = round_ladder.sort_values(['round', 'result', 'per'], ascending = False)

In [82]:
round_ladder[round_ladder['round']=='R12']

     result    pf    pa  game played team round       per
99       32  1171   873           12  MEL   R12  1.341352
100      40  1139   980           12  POR   R12  1.162245
101       4   744  1374           12  WCE   R12  0.541485
102      24   991   991           12  GCS   R12  1.000000
103      28   932   899           12  WBD   R12  1.036707
104      16   988  1123           12  GWS   R12  0.879786
105      28  1083  1005           12  ESS   R12  1.077612
99       18   888   934           12  CAR   R12  0.950749
100      12   866  1155           12  HAW   R12  0.749784
101      44  1132   818           12  COL   R12  1.383863
102      24  1064  1011           12  ADE   R12  1.052423
103      24  1188   999           12  GEE   R12  1.189189
104      18   956   964           12  RCH   R12  0.991701
105       8   843  1231           12  NTH   R12  0.684809

In [52]:
round_ladder['round'].value_counts()

R9     18
R8     18
R7     18
R6     18
R5     18
R4     18
R3     18
R2     18
R11    18
R10    18
R1     18
R13    16
R12    14
R15    12
R14    12
Name: round, dtype: int64

In [43]:
np.arange(1,len(round_ladder[round_ladder['round']=='R1'])+1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

In [39]:
output = pd.DataFrame({})
for round_ in round_ladder['round'].unique():
    tmp = round_ladder[round_ladder['round']==round_]
    tmp['position'] = np.arange(1,len(tmp)+1)
    pd.concat([output, tmp])

/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)
/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2126866496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['position'] = np.arange(1,len(tmp)+1)

In [31]:
round_ladder[round_ladder['round']=='R1']

   result   pf   pa  game played team round       per
7       4  124   65            1  ESS    R1  1.907692
4       4  110   61            1  SYD    R1  1.803279
5       4  115   65            1  MEL    R1  1.769231
3       4  126   72            1  POR    R1  1.750000
8       4   67   52            1  STK    R1  1.288462
1       4  125  103            1  COL    R1  1.213592
6       4  106   90            1  GWS    R1  1.177778
2       4   87   82            1  NTH    R1  1.060976
0       2   58   58            1  RCH    R1  1.000000
0       2   58   58            1  CAR    R1  1.000000
2       0   82   87            1  WCE    R1  0.942529
6       0   90  106            1  ADE    R1  0.849057
1       0  103  125            1  GEE    R1  0.824000
8       0   52   67            1  FRE    R1  0.776119
3       0   72  126            1  BRL    R1  0.571429
5       0   65  115            1  WBD    R1  0.565217
4       0   61  110            1  GCS    R1  0.554545
7       0   65  124            1  HAW    R1  0.524194

In [20]:
# last 5 form
l5 = output[output['team'] == 'RCH'].rolling(5,min_periods=1, closed='left').sum()
l5['team'] = 'RCH'
l5['round'] = output[output['team'] == 'RCH']['round']
l5

/var/folders/ww/qljj89hs53b_mxcs8j00tyfw0000gn/T/ipykernel_56101/2929700984.py:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['round', 'team'], dtype='object')
  l5 = output[output['team'] == 'RCH'].rolling(5,min_periods=1, closed='left').sum()

     result     pf     pa  game played team round
0       NaN    NaN    NaN          NaN  RCH    R1
12      2.0   58.0   58.0          1.0  RCH    R2
19      6.0  166.0  134.0          2.0  RCH    R3
30      6.0  215.0  197.0          3.0  RCH    R4
38      6.0  299.0  286.0          4.0  RCH    R5
52      6.0  377.0  408.0          5.0  RCH    R6
61      4.0  397.0  446.0          5.0  RCH    R7
64      0.0  337.0  442.0          5.0  RCH    R8
73      4.0  392.0  437.0          5.0  RCH    R9
86      8.0  410.0  426.0          5.0  RCH   R10
96      8.0  402.0  375.0          5.0  RCH   R11
104     8.0  391.0  356.0          5.0  RCH   R12
110    12.0  453.0  388.0          5.0  RCH   R13
117    12.0  434.0  400.0          5.0  RCH   R14

In [ ]:
rolling_ladder[rolling_ladder['round'] == 'R13']

In [ ]:
ladder = output.groupby(['team']).sum().reset_index()
ladder['per'] = 100 * ladder['pf'] / ladder['pa']

In [ ]:
ladder.sort_values(['result', 'per'], ascending=False).reset_index(drop = True)